/*
 CSS for KFWebStandardProject
*/
/* The styles for the elements */
body { 
    font-family: Arial, Helvetica, sans-serif;
    font-size: 85%;
    margin-left: 2em;
    margin-right: 2em;
    width: 400px;
}
h1 {     
    font-size: 140%;
    color: teal;
    margin-bottom: .5em;
}
span {
    float: left;
    font-weight: bold;
}
