<!DOCTYPE html >
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html">

    <h:head>
        <title>#{msgs.title}</title>
        <h:outputStylesheet library="css" name="styles.css"/>
    </h:head>
    
    <h:body>
        <h1>#{msgs.heading}</h1>
        <br/>
        <h:outputText value="#{msgs.greeting}" style="span"/>
        <br/><br/>
        <h:graphicImage library="images" name="DawsonSign.jpg" />
    </h:body>

</html>

